/node_modules
/public/hot
/public/storage
/public/foto_produk
/public/foto_profil
/public/webinar
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
